$accent: #ffd166;
$positive: #10d6a0;
$neutral: #118ab2;
$negative: #ef576f;
$deep: #073b4c;

$fg: #111;
$bg: #eee;
$inv_fg: $bg;
$inv_bg: $fg;

$backdrop0: rgba(0, 0, 0, 0.1);
$backdrop1: rgba(0, 0, 0, 0.3);
$backdrop2: rgba(0, 0, 0, 0.5);
$backdrop3: rgba(0, 0, 0, 0.7);
