@use "../common";

.button {
  cursor: pointer;
  font-family: common.$monospace;
  border: 0;
  padding: common.$unit;
  background-color: common.$backdrop0;
  color: common.$fg;
  text-transform: uppercase;
}

.button.negative {
  background-color: common.$negative;
  color: common.$inv_fg;
}
