@value colors: "../colors.css";
@value space: "../space.css";

.button {
  composes: font_captions from "../fonts.css";

  @value color_control_bg0, color_fg from colors;
  @value space_unit from space;

  border: 0;
  padding: space_unit;
  background-color: color_control_bg0;
  color: color_fg;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
}

.button.negative {
  @value color_negative, color_inv_fg from colors;

  background-color: color_negative;
  color: color_inv_fg;
}
